{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  custom_course_progress block.
  @package    block
  @subpackage custom_course_progress
  @copyright  &copy; 2021 Pierre Duverneix.
  @author     Pierre Duverneix
  @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="custom_course_progress_body">
    {{#export}}
        <header class="pull-right">
            <a href="{{{ config.wwwroot }}}/blocks/custom_course_progress/export.php" class="btn btn-primary pt-1 pb-1">
                <i class="fa fa-download"></i>
            </a>
        </header>
    {{/export}}
    {{> block_custom_course_progress/progress_courses }}
    {{> block_custom_course_progress/idle_courses }}
</div>
